.idea/*
.project
GeneralUpdate.zip*
archive/*
backend/Directory/ElTrader/TMS/Common/Export/HistoricalLookup/*.jasper
backend/Directory/ElTrader/TMS/Common/Export/PostTradeReports/*.jasper
backend/Directory/ElTrader/TMS/Common/Export/PreTradeReports/*.jasper
backend/Directory/ElTrader/TMS/Config/MarketData/*Cache.cfg
backend/Directory/ElTrader/TMS/Objects/*
backend/Directory/ElTrader/TMS/StaticData/IPO.txt
backend/Directory/ElTrader/TMS/StaticData/InstrumentInfos.*
backend/Directory/ElTrader/TMS/StaticData/ProductGrouping.*
backend/Directory/ElTrader/TMS/StaticData/ProductInfos.*
backend/Directory/ElTrader/TMS/StaticData/VolumeCurve/*VolumeCurve*
backend/Directory/ElTrader/TMS/Users/system/*.ser
backend/Directory/ElTrader/TMS/Users/system/*.ser.tmp
backend/DirectoryBackup
backend/bin/*.hprof
backend/bin/admin/nohup.out
backend/bin/admin/temp/
backend/bin/dbcapi.log
backend/bin/hs_err*
backend/bin/nohup.out
backend/cfg/ResourceDownloaderLastModified.properties
common/win32/jre/bin/*_java*.exe
common/win64/jre/bin/*_java*.exe
data/filedb/*
data/persisterdb/*
frontend/bin/*.hprof
frontend/bin/hs_err*
frontend/bin/nohup.out
frontend/cfg/*.prld
logs/*